/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen{
    display: flex;
}

.side-screen{
    margin: auto;
}

.btn{
    padding: 0;
    margin: auto;

}
.game.toggle-click{
    pointer-events: none;
}

img {
    height: 140px;
    width: 100px;
}

body {
    background-color: #FFA62F;
}

.hidden {
    display: none;
}

h1, h3 {
    padding-top: 10px;
    text-align: center;
    color: black;
}

.btn {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.game {
    padding-top: 50px;
    display: grid;
    margin: auto;
    width: calc(4 * 100px + 3 * 30px); /* 4 cards * width + 3 gaps */
    height: calc(4 * 140px + 3 * 30px); /* 4 cards * height + 3 gaps */
    background-color: #FFA62F;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 140px);
    gap: 30px;
}

.card {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card.is-flipped {
    transform: rotateY(0deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    transition: transform 0.6s;
    transform: rotateY(180deg);
}

.back {
    transition: transform 0.6s;
    transform: rotateY(0deg);
}

.card.is-flipped .front {
    transition: transform 0.6s;
    transform: rotateY(0deg);
}

.card.is-flipped .back {
    transition: transform 0.6s;
    transform: rotateY(-180deg);
}
