body{
    background-color: #FFA62F;
}


.hidden{
    display: none;
}


h1, h3{
    padding-top: 10px;
    text-align: center;
    color: black;
}

.btn{
    padding-top: 40px;
    margin: auto;
    max-width: 20px;
}

.game{
    padding-top: 50px;
    display: grid;
    margin: auto;
    width: 50%;
    height: 100%;
    background-color: #FFA62F;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFE8C8;
    width: 100%;
    height: 100px;
}