* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFA62F;
}

.hidden {
    display: none;
}

h1, h3 {
    padding-top: 10px;
    text-align: center;
    color: black;
}

.btn {
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.game {
    padding-top: 50px;
    display: grid;
    margin: auto;
    width: calc(4 * 100px + 3 * 30px); /* 4 cards * width + 3 gaps */
    height: calc(4 * 140px + 3 * 30px); /* 4 cards * height + 3 gaps */
    background-color: #FFA62F;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 140px);
    gap: 30px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #FFE8C8; */
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}
